@media (min-width: 626px) {
	.city-wrapper {
        display: grid;
        grid-template-areas: 
    "A A B B"
    "A A B B"
    "C C C C"
    "D D D D"
    "D D D D";
    }
    
}

@media (min-width: 1382px) {
	.city-wrapper {
        grid-template-areas: 
        "A C C"        
        "B D D"
        "B D D";
    }
    
}