.location__wrapper--margin-top {
    margin-top: 20px;
    margin-bottom: 89px;
}

.location__wrapper-text {
    display: flex;
}

.location__title {
    font-size: 20px;
    line-height: 24px;
}

.location__text {
    padding-left: 7px;
    color: #7F7F7F;
}

.location__list {
    display: flex;
    margin-top: 20px;
}

.location__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 23px;
    margin-right: 15px;
    width: 140px;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.05);
    border-radius: 26px;
}

.location__temp {
    font-size: 20px;
    line-height: 24px;
    text-align: right;
}

.location__img {
    margin: 0 auto;
}

.location__city {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}



@media (min-width: 626px) {
    .location__wrapper--margin-top {
        margin-bottom: 84px;
    }
}

@media (min-width: 1382px) {
    .location__wrapper--margin-top {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .location__title {
        font-size: 35px;
        line-height: 42px;
    }

    .location__text {
        display: none;
    }

    .location__list {
        margin-top: 50px;
    }

    .location__item {
        position: relative;
        padding: 30px 60px;
        margin-right: 50px;
        width: 390px;
        height: 155px;
    }

    .location__temp {
        font-size: 50px;
        line-height: 60px;
        text-align: left;
    }

    .location__img {
        margin: 0;
        width: 93px;
        height: 95px;
        position: absolute;
        top: 34px;
        right: 60px;
    }

    .location__city {
        text-align: left;
    }
}