.week {
    grid-area: B;    
}

.week__list {
    padding-bottom: 35px;
}

.week__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
}

.week__name {
    color: #7F7F7F;
}

.week__temp {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.week__temp--min {
    color: #7F7F7F;
}

@media (min-width: 620px) {
    .week {
        margin-left: auto;
        margin-right: 0;
    }

    
    .week__list {
        width: 251px;
    }
}


@media (min-width: 1382px) {
    .week__list {
        width: 251px;
    }
}
