.week-day {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
}

.week-day__name {
    color: #7F7F7F;
}

.week-day__temp {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.week-day__temp--min {
    color: #7F7F7F;
}

.hours {
    grid-area: C;
}

.hours__list {
    display: flex;
    margin-top: 27px;
    margin-bottom: 50px;
}

.hours__item {
    width: 60px;
    height: 115px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 12px 0;
}

.hours__item--active {
    width: 95px;
    height: 115px;
    background: #FFFFFF;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hours__time {
    color: #7F7F7F;
}

.hours__time--active {
    color: #0076FF;
}

@media (min-width: 620px) {
    .week-day {
        width: 296px;
    }

    .hours__list {
        margin-top: 30px;
        margin-bottom: 83px;
    }

    .hours__item {
        width: 69.85px;
        height: 133.88px;
    }

    .hours__item--active {
        width: 111px;
        height: 134px;
    }
}


@media (min-width: 1382px) {
    .week-day {
        width: 296px;

    }
}