.footer {
	padding-top: 17px;
}

.footer__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__link {
	display: flex;
	width: 154px;
	height: 45px;
	background: #0076FF;
	border-radius: 13px;
	color: white;
	align-items: center;
	justify-content: center;
}

.checkbox {
	display: inline-block;
	height: 45px;
	position: relative;
	vertical-align: middle;
	user-select: none;	
}

.checkbox .checkbox-switch {
	display: inline-block;
	position: relative;
	width: 84px;
	height: 45px;
	background: #FFFFFF;
	border: 3px solid #E5E5E5;
	border-radius: 22.5px;	
	cursor: pointer;
}

.checkbox .checkbox-switch:before {
	content: attr(data-label-on);
	display: inline-block;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 35px;
	text-align: center;
	padding-top: 9px;
	font-size: 16px;
	line-height: 19px;
	color: #A6A6A6;

}

.checkbox .checkbox-switch:after {
	content: attr(data-label-off);
	display: inline-block;	
	position: absolute;
	width: 50%;
	height: 100%;	
	top: 0;
	left: 0;
	z-index: 5;
	text-align: center;
	background: white;
	font-size: 16px;
	line-height: 19px;
	padding-top: 9px;
	transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	color: #000000;	
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
}

.checkbox input[type="checkbox"] {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox input[type="checkbox"]:checked+.checkbox-switch:before {
	content: attr(data-label-off);
	left: 0;		
}

.checkbox input[type="checkbox"]:checked+.checkbox-switch:after {
	content: attr(data-label-on);	
	transform: translate3d(38px, 0, 0);
}


.footer__time {
	display: none;
}

.footer__copyright {

	padding: 40px 0 72px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: rgba(0, 0, 0, 0.5);
}


