html {
  box-sizing: border-box;
}

html::-webkit-scrollbar { width: 10px; cursor: pointer;}
html::-webkit-scrollbar-button {  background-color: #7F7F7F; height: 20px; border-radius: 0 8px; opacity: 0.5;}
html::-webkit-scrollbar-track-piece { background-color: #ffffff;}
html::-webkit-scrollbar-thumb { height: 50px; background-color: #E8E8E8; border-radius: 8px;}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
button,
textarea {
  font-family: inherit;
}


input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

nav,
footer,
header {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  color: #000000;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-color: #F8F8F8;
}

.title {
  font-size: 30px;
line-height: 36px;

}

.container {
  width: 320px;
  padding: 0 9px;
  margin: 0 auto;
}

@media (min-width: 414px) {
  .container {
    width: 360px;
  }
}

@media (min-width: 626px) {
  .container {
    width: 626px;
  }
}

@media (min-width: 1382px) {
  .container {
    width: 1382px;
  }
}


